# 数据来源
数据主要包括银行用户信息的脱敏信息。 

数据分为训练数据和测试数据，分别保存在train.csv和test_noLabel.csv两个文件中。 

字段说明如下： 

（1）uid：编号 

（2）x0-x19：银行用户的具体信息，已脱敏处理 

（3）y：银行用户的信用好坏，1表示信用好，0表示信用差。 

如遇数据下载打开乱码问题： 不要用excel打开,用notepad++或者vs code。
文件格式是通用的编码方式utf-8。

网络地址：https://www.dcjingsai.com/v2/cmptDetail.html?id=355

## 了解数据的基本信息

In [16]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

samples_noLabel_data=pd.read_csv('samples_noLabel.csv') 
samples_noLabel_data.head(5)

,uid,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,y
0,10000,0,0,117.996442,4,42.070377,12.627849,1,6.520357,1,...,0,1,1,0,0,41.092268,21,1,25.972377,0
1,10001,1,1,-1.000000,0,43.778629,49.583690,1,0.000000,1,...,0,1,1,1,1,1.478925,24,4,41.331885,0
2,10002,1,1,111.646308,0,59.387289,26.332340,1,216.189580,1,...,0,1,1,13,0,1.865223,41,1,55.993289,0
3,10003,1,1,-1.000000,0,48.984580,1.784561,1,0.000000,1,...,0,1,1,1,1,17.327846,17,2,42.256751,0
4,10004,1,1,119.449741,15,82.059139,14.133055,1,74.622150,1,...,0,1,3,10,1,55.611631,37,2,44.140370,0

In [2]:
submit_example_data=pd.read_csv('submit_example.csv')
submit_example_data.head(20)

     uid  y
0   8000  1
1   8001  1
2   8002  1
3   8003  1
4   8004  1
5   8005  1
6   8006  1
7   8007  1
8   8008  1
9   8009  1
10  8010  0
11  8011  0
12  8012  0
13  8013  0
14  8014  0
15  8015  0
16  8016  0
17  8017  0
18  8018  0
19  8019  0

In [3]:
test_noLabel_data=pd.read_csv('test_noLabel.csv')
test_noLabel_data.head()

,uid,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19
0,8000,1,10,119.02182,0,72.16,33.29,2,13.97,1,...,1,0,1,3,28,8,7.85,18,21,65.0
1,8001,1,11,119.64901,0,152.12,65.73,1,0.00,1,...,1,0,1,32,40,5,-1.00,39,26,187.0
2,8002,1,2,108.93560,0,89.07,0.00,1,0.00,1,...,1,0,1,23,3,2,-1.00,44,25,62.0
3,8003,1,26,-1.00000,5,30.29,26.26,17,0.40,12,...,1,0,1,28,11,22,121.18,81,4,29.0
4,8004,0,0,112.55161,15,70.38,38.75,1,0.64,1,...,1,0,1,11,91,0,21.82,49,1,60.0

In [4]:
train_data=pd.read_csv('train.csv')
train_data.head()

,uid,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,y
0,0,0,0,120.45602,0,85.590000,26.720000,1,0.000000,1,...,0,1,3,5,0,-1.000000,307,2,68.00000,1
1,1,1,7,118.76090,0,41.390000,9.050000,1,55.150000,1,...,0,1,2,7,2,-1.000000,33,1,29.00000,1
2,2,1,2,-1.00000,0,22.300000,24.040000,1,38.540000,2,...,0,1,4,13,3,-1.000000,19,2,21.00000,1
3,3,1,1,113.89877,0,63.206231,30.229573,1,81.690921,1,...,0,1,3,3,0,33.683173,39,13,63.40762,0
4,4,69,74,-1.00000,7,138.130000,9.820000,1,0.000000,22,...,121,1,10,160,7,84.710000,67,21,167.00000,1

In [5]:
train_data.info()
# 没有缺失值，都是整型和浮点型

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 22 columns):
uid    8000 non-null int64
x0     8000 non-null int64
x1     8000 non-null int64
x2     8000 non-null float64
x3     8000 non-null int64
x4     8000 non-null float64
x5     8000 non-null float64
x6     8000 non-null int64
x7     8000 non-null float64
x8     8000 non-null int64
x9     8000 non-null int64
x10    8000 non-null int64
x11    8000 non-null int64
x12    8000 non-null int64
x13    8000 non-null int64
x14    8000 non-null int64
x15    8000 non-null int64
x16    8000 non-null float64
x17    8000 non-null int64
x18    8000 non-null int64
x19    8000 non-null float64
y      8000 non-null int64
dtypes: float64(6), int64(16)
memory usage: 1.3 MB

In [19]:
train_data.describe()

,uid,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,y
count,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,...,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,3999.50000,18.389125,26.520500,81.677826,13.156625,84.015353,25.345452,6.249125,43.784969,5.867625,...,9.866000,3.548125,11.208500,24.621500,6.587250,43.055678,73.186500,7.465500,66.413902,0.701875
std,2309.54541,44.353420,67.045289,52.566286,26.059225,94.015447,18.863746,20.540054,90.347683,15.592674,...,33.464497,19.879608,15.251995,35.966167,14.525444,55.455595,75.766701,13.495094,49.605730,0.457463
min,0.00000,0.000000,0.000000,-1.000000,0.000000,5.520000,-1.000000,0.000000,-1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,1999.75000,0.000000,0.000000,-1.000000,0.000000,43.803526,11.570666,1.000000,0.210000,1.000000,...,0.000000,1.000000,3.000000,2.000000,0.000000,-0.983717,25.000000,1.000000,32.000000,0.000000
50%,3999.50000,1.000000,1.000000,113.146750,0.000000,66.345000,21.597325,1.000000,13.495000,1.000000,...,0.000000,1.000000,6.000000,9.000000,1.000000,18.116117,47.500000,3.000000,53.000000,1.000000
75%,5999.25000,1.000000,16.000000,118.011000,14.000000,99.854959,35.237500,1.000000,47.459382,3.000000,...,0.000000,1.000000,13.000000,31.000000,7.000000,70.177385,92.000000,8.000000,87.000000,1.000000
max,7999.00000,237.000000,473.000000,133.398000,200.000000,2334.000000,100.000000,186.000000,2480.620000,169.000000,...,210.000000,238.000000,159.000000,229.000000,148.000000,279.700000,482.000000,140.000000,322.000000,1.000000

## 查看数据的来给你两两相关性

In [26]:
# plt.figure(figsize=(20,20)) # 输出的图形大小
# sns.heatmap(train_data.corr(), annot=True,square=True)
# corr()可以计算两列值得相关系数，默认用的是pearson相关系数 - 皮尔逊:标准相关系数

# data：矩阵数据集
# annot：指定一个bool类型的值或与data参数形状一样的数组，如果为True，就在热力图的每个单元上显示数值
# square：bool类型参数，是否使热力图的每个单元格为正方形，默认为False

In [25]:
## 数据分类：数据特征类和标签类

In [26]:
# train_data_x,train_data_y 分别为数据的特征值和标签值
train_data_x = train_data.drop(columns=['y'])
train_data_y = train_data['y']

## 需被验证的数据集

In [20]:
test_noLabel_data.head(30)

,uid,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19
0,8000,1,10,119.02182,0,72.16,33.29,2,13.97,1,...,1,0,1,3,28,8,7.85,18,21,65.0
1,8001,1,11,119.64901,0,152.12,65.73,1,0.00,1,...,1,0,1,32,40,5,-1.00,39,26,187.0
2,8002,1,2,108.93560,0,89.07,0.00,1,0.00,1,...,1,0,1,23,3,2,-1.00,44,25,62.0
3,8003,1,26,-1.00000,5,30.29,26.26,17,0.40,12,...,1,0,1,28,11,22,121.18,81,4,29.0
4,8004,0,0,112.55161,15,70.38,38.75,1,0.64,1,...,1,0,1,11,91,0,21.82,49,1,60.0
5,8005,9,14,114.39762,9,110.67,63.85,1,0.69,16,...,1,0,1,10,0,18,8.07,123,54,134.0
6,8006,1,2,105.57511,9,32.73,29.99,1,48.00,2,...,1,0,1,3,3,3,11.15,5,6,41.0
7,8007,0,0,113.26762,7,74.91,36.03,1,10.95,2,...,52,153,1,16,68,0,6.88,27,10,54.0
8,8008,110,75,-1.00000,25,58.05,41.20,1,0.00,11,...,1,74,107,3,28,37,24.34,28,1,74.0
9,8009,1,1,104.07555,0,65.96,12.11,1,25.54,1,...,1,0,1,1,3,1,0.01,47,2,67.0
10,8010,0,0,117.18511,5,71.48,16.71,1,0.00,1,...,1,0,1,12,47,0,4.83,86,7,29.0
11,8011,1,23,112.96831,4,53.07,42.65,1,0.00,13,...,1,0,1,5,2,5,21.85,37,5,78.0
12,8012,0,0,116.38791,0,93.49,15.80,1,0.00,1,...,1,0,1,5,67,0,-1.00,100,6,60.0
13,8013,0,0,121.47262,0,87.47,33.34,1,8.42,1,...,1,0,1,4,11,0,5.44,139,1,52.0
14,8014,130,75,109.78007,55,232.06,31.48,1,106.20,6,...,1,0,1,5,26,18,27.28,165,65,208.0
15,8015,1,10,111.28032,0,75.14,9.57,1,28.15,3,...,1,0,1,2,1,10,-1.00,14,6,92.0
16,8016,1,5,118.12581,0,179.51,15.33,1,32.48,2,...,1,0,1,4,146,3,-1.00,111,2,129.0
17,8017,1,1,113.65302,4,34.88,25.79,1,18.50,1,...,1,0,160,7,4,1,31.56,58,2,22.0
18,8018,46,23,118.18012,0,64.37,2.25,1,0.58,1,...,1,161,1,7,80,3,-1.00,44,1,76.0
19,8019,0,0,-1.00000,0,65.93,14.24,2,0.23,1,...,1,0,1,26,41,0,-1.00,73,14,44.0
20,8020,1,1,113.41933,0,57.15,56.28,1,2.13,1,...,1,0,1,6,0,1,0.99,57,2,63.0
21,8021,83,66,114.05388,7,60.97,29.85,1,74.22,2,...,1,0,1,18,81,32,158.45,78,14,107.0
22,8022,133,401,-1.00000,0,123.19,0.00,24,0.00,4,...,1,131,1,16,7,72,23.82,56,3,107.0
23,8023,1,1,120.16502,11,56.37,16.64,1,37.42,3,...,1,0,1,5,0,1,29.86,29,9,35.0
24,8024,1,20,116.38791,0,147.12,11.75,1,0.00,88,...,1,16,1,10,5,6,-1.00,125,9,142.0
25,8025,0,0,118.76090,0,83.26,16.41,1,18.22,8,...,1,0,1,2,2,0,-1.00,60,2,63.0
26,8026,105,336,-1.00000,0,95.84,0.00,1,0.00,1,...,1,0,1,2,2,37,-1.00,16,17,96.0
27,8027,63,192,-1.00000,10,216.93,16.57,1,183.25,4,...,12,0,1,13,2,36,59.84,136,6,117.0
28,8028,1,11,-1.00000,13,69.47,52.45,1,0.16,1,...,1,0,1,1,138,9,12.74,148,16,31.0
29,8029,0,0,-1.00000,5,87.15,44.99,1,0.00,10,...,1,0,1,5,30,0,63.29,480,41,18.0

# 逻辑回归方法

In [21]:

# test_noLabe_data为验证数据的特征值

from sklearn.linear_model import LogisticRegression
# Logistic回归

model = LogisticRegression()
# 创建一个逻辑回归分类器实例并拟合数据。
model.fit(train_data_x, train_data_y )
print("training accuracy :", model.score(train_data_x, train_data_y ))
result = model.predict(test_noLabel_data)
result

training accuracy : 0.749625

array([1, 1, 1, ..., 1, 1, 0])

In [23]:
data = {'uid':test_noLabel_data['uid'],
        'y':[]}
# data = pd.DataFrame(data,index=['one','two','three','four','five'],
#                columns=['姓名','性别','年龄','职业'])
for i in result:
    data['y'].append(i)

show_data =pd.DataFrame(data)
show_data.head(5)

    uid  y
0  8000  1
1  8001  1
2  8002  1
3  8003  1
4  8004  1

In [12]:
# 导出数据
show_data.to_csv('predict_result.csv',columns=['uid','y'],header=True,index=False)

In [25]:
# 数据分类情况统计
show_data['y'].value_counts()

1    1758
0     242
Name: y, dtype: int64

### 网站结果得分：0.745